{% extends "frontend/base.html" %} 
{% block content %}
<div class="container mt-3">
<h1>Welcome to HADIS</h1>
<h2>Hospital Acquired Data Integration System</h2>
<h3>On this page, patients will be displayed</h3>
<a name="create-patient-btn" id="create-patient-btn" class="btn btn-primary" href="{% url 'patient-create'%}" role="button">New Patient</a>
<table class="table table-hover mt-3 content-section">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Date of Creation</th>        
      </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
        <tr style="transform: rotate(0);">
            <th scope="row"><a href="{{ item.get_absolute_url }}" class="stretched-link">{{ item.id }}</a></th>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.created_at|date:'d.m.o' }}</td>
            <td>
							{% comment %} <a
								name="item-update-btn"
								id="item-update-btn"
								href="{% url 'item-update' pk_item=item.id%}"
								role="button"
								>Edit</a
							>
							<a
								name="item-delete-btn"
								id="item-delete-btn"
								href="{% url 'item-delete' pk_item=item.id%}"
								role="button"
								>Delete</a
							> {% endcomment %}
						</td
          </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock content %}
</div>



