{% extends "frontend/base.html" %} 
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
	<div class="container content-section mt-5">
        <div class-="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 mt-3">Login Here</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">Need an Account? <a href="{% url 'user-registration' %}" class="ml-2">Register Here</a></small>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
