{% extends "frontend/base.html" %} 
{% block content %}
<div class="container-fluid mt-3 content-section">
<h1>{{object.title}} Details</h1>

<div class="row align-items-start">
    <table class="table table-hover mt-3 content-section">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          {% for item in object.items.all %}
            <tr style="transform: rotate(0);">
              <td>{{ item.name }}</td>
              <td>{{ item.description }}</td>
              {% endfor %}
                
              </tr>
        </tbody>
      </table>
</div>
<div class="row">
    <div class="button-box">
    <a name="back-btn" id="back-btn" class="btn btn-outline-info float-start" href="{% url 'dataform-list'%}" role="button">Back</a>
   <a name="delete-btn" id="edit-btn" class="btn btn-danger float-end" href="{% url 'dataform-delete' object.id%}" role="button">Delete</a>
    {% comment %} <a name="edit-btn" id="delete-btn" class="btn btn-warning float-end" href="{% url 'dataform-update' object.id%}" role="button">Edit</a> {% endcomment %}
</div>
</div>
</div>

{% endblock content %}


