{% extends "frontend/base.html" %} 
{% block content %}
<div class="container mt-3">
<h1>Welcome to HADIS</h1>
<h2>Hospital Acquired Data Integration System</h2>
<h3>On this page, patients will be displayed</h3>
<table class="table mt-3 content-section">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Main Diagnosis</th>
      </tr>
    </thead>
    <tbody>
        {% for patient in patients %}
        <tr>
            <th scope="row">{{ patient.id }}</th>
            <td>{{ patient.last_name }}</td>
            <td>{{ patient.first_name }}</td>
            <td>{{ patient.date_of_birth|date:'d.m.o' }}</td>
            <td>{{ patient.main_diagnosis }}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}


