{% extends "base/base.html" %} 

{% block content %}
    <div class="container content-section mt-5 mw-50">
        <div class-="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 mt-3">Delete Item</legend>
                    <h2>Are you sure you want to delete this item?</h2>
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    {% comment %} <a class="btn btn-outline-secondary" href="{% url 'dataform-detail' object.dataform_id %}">Cancel</a> {% endcomment %}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
